html
    head
        title Classes - LLearn
        link(rel="stylesheet" href="/public/stylesheets/bootstrap.min.css")
        link(rel="stylesheet" href="/public/stylesheets/univ.css")
        link(rel="stylesheet" href="/public/stylesheets/classes.css")
    body
        include header.html
        //include classes-index.html
        h1(class="jumbotron") Classes
        div(class="container-fluid")
            each classobj in classes
                div(class="row class-row")
                    div(class="col-sm-11")
                        h3= classobj.name
                        p= classobj.description
                    div(class="col-sm-1")
                        h4= classobj.rating
                        a(href="/classes/" + classobj._id)
                            button(class="btn btn-success") Take
        include footer.html