html(ng-app="info")
    head
        title Info - LLearn
        link(rel="stylesheet" href="/public/stylesheets/bootstrap.min.css")
        link(rel="stylesheet" href="/public/stylesheets/univ.css")
    body
        include header.html
        include info-index.html
        include footer.html