html(ng-app="profile")
    head
        title Profile - LLearn
        link(rel="stylesheet" href="/public/stylesheets/bootstrap.min.css")
        link(rel="stylesheet" href="/public/stylesheets/univ.css")
    body
        include header.html
        include profile-index.html
        include footer.html