html
    head
        title Node Auth Signup
    body
        h1 Signup
        p(style="color:red;")=message
        form(action="/signup" method="POST")
            input(type="text" name="email")
            input(type="password" name="password")
            input(type="submit")